snippet pumeth "Create a new public method" b
public ${1:ResultType} ${2:MethodName} (${3:Arguments})
{
    $0;
}
endsnippet


snippet puprop "Create a new public property" b
public ${1:PropertyType} ${2:PropertyName} {get; set;}
$0
endsnippet
